<!-- Footer -->
<footer class=" text-center text-white" style="background-color: black; ">
    <!-- Grid container -->
    <div class="container p-4" >    
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Must Watch Movies</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">  Masooda</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sardar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ori Devuda</a>
              </li>
              <li>
                <a href="#!" class="text-white">Swathi Muthyam</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Popular Movies</h5>
  
            <ul class="list-unstyled mb-0">
             



              <li>
                <a href="#!" class="text-white"> Pakka Commercial</a>
              </li>
              <li>
                <a href="#!" class="text-white">Colour Photo</a>
              </li>
              <li>
                <a href="#!" class="text-white">Krack</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sulthan</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Genres</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Fantasy Movies</a>
              </li>
              <li>
                <a href="#!" class="text-white">action Movies</a>
              </li>
              <li>
                <a href="#!" class="text-white">Animation Movies</a>
              </li>
              <li>
                <a href="#!" class="text-white">adventure Movies</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Stream Online</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white"> Disney Plus</a>
              </li>
              <li>
                <a href="#!" class="text-white">Netflix</a>
              </li>
              <li>
                <a href="#!" class="text-white">Max</a>
              </li>
              <li>
                <a href="#!" class="text-white">Prime Video</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
 
  </footer>
  <!-- Footer -->