<section>       
    <video autoplay class="background-clip">
        <source src="../../assets/video/yt1s.com - 4K Magical Ground 2160p Beautiful Animated Wallpaper HD Background video effect 1080p AA VFX_1080p.mp4">
    </video>
    <h2>Movies App</h2>
    <div class="reg">
        <a routerLink="reg" class="btn btn-light">Register </a>
        <a routerLink="log" class="btn btn-dark">Sign In</a> 
    
    </div>
    <div>
        <h1>Free Movies & TV <br>
            Fewer Ads than Cable <br>
            No Subscription Required</h1>
            <p style="color: white;margin-left: 4%;">Thousands of movies and TV shows. Always Free. 100% Legal.</p>
            <button class="start-trail">Start  Free Trail</button>
        
    </div>
</section>
<app-moviepage1></app-moviepage1>